body{
    font-family: 'Alata', sans-serif;
}

#page{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 202, 202);
}

#container{
    background-color: black;
    width: 1092px;
    height: 614px;
    border-radius: 25px;
}

#kiri{
    background-color: #ffffff;
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
   
}

#kanan{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#login{
    background-color: rgb(255, 255, 255);
    height: 85%;
    width: 70%;
}

#foto{
    max-height: 100%;
}

.input{
    background-color: rgb(224, 224, 224);
    outline: none;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    padding-left: 22px;
}

#barisemail{
    height: 40px;
    display: flex;
    align-items: center;
}

#barispass{
    height: 40px;
    display: flex;
    align-items: center;
}

#barissub{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#barisverif{
    height: 40px;
    display: flex;
    align-items: center;
}


