body{
    font-family: 'Alata', sans-serif;
}

h1{
    font-size: 40px;
    margin-bottom: 15px;
}

#keterangan{
    padding-left: 17%;
    display: flex;
    align-content: center;
}


#page{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 202, 202);
}

#container{
    background-color: black;
    width: 1092px;
    height: 614px;
    border-radius: 25px;
    box-shadow: 10px 10px #575757;
}

#kiri{
    background-color: #fddfc7;
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
   
}

#kanan{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    float: right;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#login{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    justify-content: center;
    float: left;
    margin-bottom: 60px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#close{
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

#foto{
    max-height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.input{
    background-color: rgb(224, 224, 224);
    outline: none;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    padding-left: 22px;
}

#barisemail{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barispass{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barissub{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sosmed{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 60px;
}

.sosmed{
    padding-left: 10px;
    padding-right: 10px;
}
